<div class="min-h-screen bg-fondoOscuro flex flex-col items-center justify-center relative overflow-hidden cursor-pointer"
    routerLink="/login">
    <div class="absolute inset-0 pointer-events-none opacity-20">
        <div class="absolute top-1/4 -left-10 w-[150%] h-[1px] bg-white rotate-[-15deg]"></div>
        <div class="absolute bottom-1/4 -left-10 w-[150%] h-[1px] bg-white rotate-[-15deg]"></div>
    </div>

    <h1 class="text-white text-3xl font-light tracking-widest mb-6 text-center">
        MI NEGOCIO AL DIA
    </h1>

    <svg width="60" height="40" viewBox="0 0 60 40" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 15 Q 12.5 5, 20 15 T 35 15 T 50 15 T 65 15" stroke="white" stroke-width="3" fill="none"
            stroke-linecap="round" />
        <path d="M5 25 Q 12.5 15, 20 25 T 35 25 T 50 25 T 65 25" stroke="white" stroke-width="3" fill="none"
            stroke-linecap="round" />
    </svg>
</div>